:root {
/*
 COLORES
*/

  --color-bg: #0f172a;
  --color-surface: #111827;
  --color-surface-light: #1f2937;

  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;

  --color-secondary: #06b6d4;

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  --color-text: #f8fafc;
  --color-text-muted: #94a3b8;

  --color-border: #334155;

  /*
    TIPOGRAFIA
  */

  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 3rem;

  /*
    FONT WEIGHTS
  */

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /*
    ESPACIADO
  */

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 2rem;
  --space-6: 3rem;

  /*
     BORDER RADIUS
  */

  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 18px;

  /*
     SOMBRAS
  */

  --shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.2);

  --shadow-md: 0 8px 20px rgba(0, 0, 0, 0.25);

  --shadow-lg: 0 12px 32px rgba(0, 0, 0, 0.35);

  /*
    TRANSICIONES
  */

  --transition-fast: 150ms ease;
  --transition-normal: 250ms ease;

  /*
    LAYOUT
  */

  --container-width: 1200px;
}